
*:focus{
	outline: 0;
}

html, body {
	overflow: hidden !important;
}

body {
	background-image: url("background-2.png");
	background-position: left top;
	color: #007fd5
}

.separator {
	background: url("separator.png") no-repeat;
	width: 588px%;
	height:2px;
	margin-left: -22px;
}

#player-center {
	background-image: url("cover-center.png");
	background-repeat: no-repeat;
	width: 568px;
	height: 598px;
	padding-left: 25px;
	padding-top: 30px;
	z-index: 1000;
	position: absolute;
	top: 18%;
	left:21%;
}

.player-slide-center {
	animation-name: player-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes player-in {
	0% {left: 28.5%}
	100%  {left: 21%}
}

.player-slide-hide {
	animation-name: player-out;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes player-out {
	0% {left: 21%}
	100%  {left: 28.5%}
}

.now-playing {
	font-weight: bold;
	font-size: 25px;
	font-family: Arial;
}

.marquee {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 450px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;

}
.marquee span:hover {
    animation-play-state: paused
}
/* Make it move */ 
@keyframes marquee {
    0%   { transform: translate(-2%, 0); }
    100% { transform: translate(-100%, 0); }
}

/*  ZONE TEST TEST TEST */ 

div.marquee:before {
	background: -webkit-gradient(linear,left top,right top,from(rgba(35,35,35,1)),color-stop(0.2,rgba(35,35,35,1)),to(rgba(118,191,54,0)));
	background: -moz-linear-gradient(left,rgba(35,35,35,1),rgba(35,35,35,1) 20px,rgba(35,35,35,0));
	z-index: 1;
	left: 3px
}
div.marquee:after {
	left: 355px;
	background: -webkit-gradient(linear,right top,left top,from(rgba(35,35,35,1)),color-stop(0.2,rgba(35,35,35,1)),to(rgba(118,191,54,0)));
	background: -moz-linear-gradient(right,rgba(35,35,35,1),rgba(35,35,35,1) 20px,rgba(35,35,35,0));
}

div.marquee:before, div.marquee:after {
	content: "";
	position: absolute;
	width: 100px;
	height: 31px;
}

/*  ZONE TEST TEST TEST */

.time-left {
	font-weight: bold;
	font-size: 25px;
	font-family: Arial;
	float: right;
	margin-right: 25px;
}

.title {
	overflow: hidden;
	background-color: rgba(35,35,35,1);
	margin-bottom: 35px;
	margin-right: 2px;
	height: 31px;
	margin-left: -20px;
}

.center {
	width: 565px;
	height: 305px;
	clear: both;
}
.playlist {
	height: 262px;
	overflow: scroll;
	overflow-x: hidden;
	margin-left: -22px;
}

.gris {
	background-color: rgba(35,35,35,0.5);
	display: block;
	width: 100%;
	padding-left:22px;
}

.add-music {
	width: 565px;
	padding-top: 30px;
	height: 145px;
}

.add-music, .add-music input, .add-music select, .input-design{
	float: left;
}

.input-design {
	background-image: url("input.png");
	background-repeat: no-repeat;
	background-size: 323px 53px;
	margin-top: 18px;
	margin-left: 8px;
}

.input-design input {
	width: 295px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 35px;
	border: none;
}

.add-to-queue {
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	width: 94px;
	border: none;
	background: transparent url('btn-play.png') no-repeat;
	height: 96px;
	cursor: pointer;
	outline: none;
}

.next-music {
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	width: 94px;
	border: none;
	background: transparent url('btn-next.png') no-repeat;
	height: 96px;
	cursor: pointer;
	outline: none;
}

.vinil{

	background: url("vinil.png") no-repeat;
	position: absolute;
	top: 18%;
	margin: auto;
	width: 558px;
	height: 558px;
	z-index: 1000;
}

.vinil-base {
	animation-name: vinil-slide-out;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

	z-index: 1000;
}
@keyframes vinil-slide-out {
	0% 	{left:30%;z-index: 1000;transform:scale(1.3);}
	50%   {left:71%;z-index:1000;transform:scale(1);}
	100%  {left:40%;z-index: 0}
}

.vinil-center{
	background: url("vinil.png") no-repeat;
	position: absolute;
	top: 18%;
	margin: auto;
	width: 558px;
	height: 558px;

	z-index: 0;

	animation-name: vinil-slide-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
@keyframes vinil-slide-in {
	0%   {left:40%;}
	50%  {left:71%;z-index: 1000;transform:scale(1);}
    100% {left:30%;z-index: 1000;transform:scale(1.3);}
}

.spin {
	animation: vinil-spin 5s infinite linear;
}
@keyframes vinil-spin {
    from { transform: rotate(0deg);left: 40%; z-index: 100 }
    to { transform: rotate(360deg);left: 40%; z-index: 100 }
}

.vinil-firefox {
	left: 40%;
	z-index: 0;
}



#historique {
	font-size: 15px;
	top: 18%;
	overflow: hidden !important;
	background: rgba(10,10,10,0.5)
}

.historique-hide {
width: 390px;
height: 390px;
position: absolute;
margin: auto;
z-index: 2000;
border: 4px double #007fd5;
border-radius: 10000px;
padding: 80px;
text-align: center;
visibility: hidden;
display: block;

left: 40%;
}

.historique-slide-out {
	animation-name: histo-slide-out ;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes histo-slide-out {
	0%   {left:30%;z-index: 2000;visibility: visible;transform:scale(1.3);}
	50%  {left:71%;z-index: 2000; visibility: hidden;transform:scale(1); opacity: 0}
    100% {left:40%; visibility: hidden;}
}

.historique-visible {
width: 390px;
height: 390px;
position: absolute;
margin: auto;
z-index: 2000;
border: 4px double #007fd5;
border-radius: 10000px;
padding: 80px;
text-align: center;
visibility: visible;
display: block;
}
.historique-slide-in {
	animation-name: histo-slide-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
@keyframes histo-slide-in {
	0%   {left:40%; visibility: hidden;}
	50%  {left:71%;z-index: 2000; visibility: hidden;transform:scale(1);opacity: 0}
    100% {left:30%;z-index: 2000;visibility: visible;transform:scale(1.3);opacity: 1}
}

#scrolling {
	width: 100%;
    overflow: auto !important;
    height: 100%;
    padding-right: 100px;
}

.bleu-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.bleu-scrollbar::-webkit-scrollbar
{
	width: 10px;
}

.bleu-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}


.no-scrollbar::-webkit-scrollbar
{
	width: 0px;
}

