
/* TEST ZONE */

/* Make it a marquee 
.marquee {
    width: 450px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px green solid;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    border: 1px red solid;
    animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    -moz-animation: marquee 15s linear infinite;
}
.marquee span:hover {
    -webkit-animation-play-state: paused
}

/* Make it move 
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}



/* TEST ZONE */

*:focus{
	outline: 0;
}

html, body {
	overflow: hidden !important;
}

body {
	background-image: url("background-2.png");
	background-position: left top;
	color: #007fd5
}

#player-center {
	background-image: url("cover-center.png");
	background-repeat: no-repeat;
	width: 568px;
	height: 598px;
	padding-left: 25px;
	padding-top: 30px;
	z-index: 1000;
	position: absolute;
	top: 18%;
	left:21%;
}

.player-slide-center {
	animation-name: player-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	-webkit-animation-name: player-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

	-o-animation-name: player-in;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;

	-moz-animation-name: player-in;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;
}

@keyframes player-in {
	0% {left: 28.5%}
	100%  {left: 21%}
}

@-o-keyframes player-in {
	0% {left: 28.5%}
	100%  {left: 21%}
}

@-moz-keyframes player-in {
	0% {left: 28.5%}
	100%  {left: 21%}
}

@-webkit-keyframes player-in {
	0% {left: 28.5%}
	100%  {left: 21%}
}

.player-slide-hide {
	animation-name: player-out;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	-webkit-animation-name: player-out;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

	-o-animation-name: player-out;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;

	-moz-animation-name: player-out;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;
}

@keyframes player-out {
	0% {left: 21%}
	100%  {left: 28.5%}
}

@-webkit-keyframes player-out {
	0% {left: 21%}
	100%  {left: 28.5%}
}

@-o-keyframes player-out {
	0% {left: 21%}
	100%  {left: 28.5%}
}

@-moz-keyframes player-out {
	0% {left: 21%}
	100%  {left: 28.5%}
}

.now-playing {
	font-weight: bold;
	font-size: 25px;
	font-family: Arial;
	float: left;
	width: 70%
}

.time-left {
	font-weight: bold;
	font-size: 25px;
	font-family: Arial;
	float: right;
	margin-right: 25px;
}

.title {
	height: 58px;
	overflow:hidden;
}

.center {
	width: 565px;
	height: 305px;
	clear: both;
}
.playlist {
	height: 262px;
	overflow: scroll;
	overflow-x: hidden;
	margin-left: -22px;
}

.gris {
	background-color: rgba(35,35,35,0.5);
	display: block;
	width: 100%;
	padding-left:22px;
}

.add-music {
	width: 565px;
	padding-top: 30px;
	height: 145px;
}

.add-music, .add-music input, .add-music select, .input-design{
	float: left;
}

.input-design {
	background-image: url("input.png");
	background-repeat: no-repeat;
	background-size: 323px 53px;
	margin-top: 18px;
	margin-left: 8px;
}

.input-design input {
	width: 295px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 35px;
	border: none;
}

.add-to-queue {
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	width: 94px;
	border: none;
	background: transparent url('btn-play.png') no-repeat;
	height: 96px;
	cursor: pointer;
	outline: none;
}

.next-music {
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	width: 94px;
	border: none;
	background: transparent url('btn-next.png') no-repeat;
	height: 96px;
	cursor: pointer;
	outline: none;
}

.vinil{

	background: url("vinil.png") no-repeat;
	position: absolute;
	top: 18%;
	margin: auto;
	width: 558px;
	height: 558px;
	z-index: 1000;
}

.vinil-base {
	animation-name: vinil-slide-out;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

	-webkit-animation-name: vinil-slide-out;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;

	-o-animation-name: vinil-slide-out;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;
	-o-animation-timing-function: ease-in-out;

	-moz-animation-name: vinil-slide-out;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-in-out;

/*
	-webkit-transition: all .6s ease-in;
	-moz-transition: all .6s ease-in;
	-o-transition: all .6s ease-in;
	transition: all .6s ease-in;
*/
	z-index: 1000;
}

@keyframes vinil-slide-out {
	0% 	{left:30%;z-index: 1000;transform:scale(1.3);}
	50%   {left:71%;z-index:1000;transform:scale(1);}
	100%  {left:40%;z-index: 0}
}

@-webkit-keyframes vinil-slide-out {
	0% 	{left:30%;z-index: 1000;-webkit-transform:scale(1.3);}
	50%   {left:71%;z-index:1000;-webkit-transform:scale(1);}
	100%  {left:40%;z-index: 0;}
}
@-moz-keyframes vinil-slide-out {
	0% 	{left:30%;z-index: 1000;-moz-transform:scale(1.3);}
	50%   {left:71%;z-index:1000;-moz-transform:scale(1);}
	100%  {left:40%;z-index: 0}
}

@-o-keyframes vinil-slide-out {
	0% 	{left:30%;z-index: 1000;-o-transform:scale(1.3);}
	50%   {left:71%;z-index:1000;-o-transform:scale(1);}
	100%  {left:40%;z-index: 0}
}

.vinil-center{
	background: url("vinil.png") no-repeat;
	position: absolute;
	top: 18%;
	margin: auto;
	width: 558px;
	height: 558px;

	z-index: 0;

	animation-name: vinil-slide-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

	-webkit-animation-name: vinil-slide-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;

	-o-animation-name: vinil-slide-in;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;
	-o-animation-timing-function: ease-in-out;

	-moz-animation-name: vinil-slide-in;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-in-out;
	/*
	-webkit-transition: scalling .6s ease-in;
	-moz-transition: scalling .6s ease-in;
	-o-transition: scalling .6s ease-in;
	transition: scalling .6s ease-in;
	*/

}

@keyframes vinil-slide-in {
	0%   {left:40%;}
	50%  {left:71%;z-index: 1000;transform:scale(1);}
    100% {left:30%;z-index: 1000;transform:scale(1.3);}
}

@-webkit-keyframes vinil-slide-in {
	0%   {left:40%;}
	50%  {left:71%;z-index: 1000;-webkit-transform:scale(1);}
    100% {left:30%;z-index: 1000;-webkit-transform:scale(1.3);}
}

@-moz-keyframes vinil-slide-in {
	0%   {left:40%;}
	50%  {left:71%;z-index: 1000;-moz-transform:scale(1);}
    100% {left:30%;z-index: 1000;-moz-transform:scale(1.3);}
}

@-o-keyframes vinil-slide-in {
	0%   {left:40%;}
	50%  {left:71%;z-index: 1000;-o-transform:scale(1);}
    100% {left:30%;z-index: 1000;-o-transform:scale(1.3);}
}

.spin {
	animation: vinil-spin 5s infinite linear;

	-webkit-animation: vinil-spin 5s infinite linear;
	
	-o-animation: vinil-spin 5s infinite linear;
	
	-moz-animation: vinil-spin 5s infinite linear;
}
@keyframes vinil-spin {
    from { transform: rotate(0deg);left: 40%; z-index: 100 }
    to { transform: rotate(360deg);left: 40%; z-index: 100 }
}

@-webkit-keyframes vinil-spin {
    from { -webkit-transform: rotate(0deg);	left: 40%; z-index: 100}
    to { -webkit-transform: rotate(360deg); left: 40%; z-index: 100}
}

@-moz-keyframes vinil-spin {
    from { -moz-transform: rotate(0deg);left: 40%; z-index: 100 }
    to { -moz-transform: rotate(360deg);left: 40%; z-index: 100 }
}

@-o-keyframes vinil-spin {
    from { -o-transform: rotate(0deg);left: 40%; z-index: 100 }
    to { -o-transform: rotate(360deg);left: 40%; z-index: 100 }
}

.vinil-firefox {
	left: 40%;
	z-index: 0;
}



#historique {
	font-size: 15px;
	top: 18%;
	overflow: hidden !important;
	background: rgba(10,10,10,0.5)
}

.historique-hide {
width: 390px;
height: 390px;
position: absolute;
margin: auto;
z-index: 2000;
border: 4px double #007fd5;
border-radius: 10000px;
padding: 80px;
text-align: center;
visibility: hidden;
display: block;

left: 40%;
}

.historique-slide-out {
	animation-name: histo-slide-out ;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

	-webkit-animation-name: histo-slide-out ;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;

	-o-animation-name: histo-slide-out ;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;
	-o-animation-timing-function: ease-in-out;

	-moz-animation-name: histo-slide-out ;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-in-out;
}

@keyframes histo-slide-out {
	0%   {left:30%;z-index: 2000;visibility: visible;transform:scale(1.3);}
	50%  {left:71%;z-index: 2000; visibility: hidden;transform:scale(1); opacity: 0}
    100% {left:40%; visibility: hidden;}
}
@-webkit-keyframes histo-slide-out {
	0%   {left:30%;z-index: 2000;visibility: visible;-webkit-transform:scale(1.3);}
	50%  {left:71%;z-index: 2000;visibility: hidden;-webkit-transform:scale(1); opacity: 0}
    100% {left:40%; visibility: hidden;}
}
@-moz-keyframes histo-slide-out {
	0%   {left:30%;z-index: 2000;visibility: visible;-moz-transform:scale(1.3);}
	50%  {left:71%;z-index: 2000; visibility: hidden;-moz-transform:scale(1); opacity: 0}
    100% {left:40%; visibility: hidden;}
}
@-o-keyframes histo-slide-out {
	0%   {left:30%;z-index: 2000;visibility: visible;-o-transform:scale(1.3);}
	50%  {left:71%;z-index: 2000; visibility: hidden;-o-transform:scale(1); opacity: 0}
    100% {left:40%; visibility: hidden;}
}

.historique-visible {
width: 390px;
height: 390px;
position: absolute;
margin: auto;
z-index: 2000;
border: 4px double #007fd5;
border-radius: 10000px;
padding: 80px;
text-align: center;
visibility: visible;
display: block;
}
.historique-slide-in {
	animation-name: histo-slide-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

	-webkit-animation-name: histo-slide-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;

	-o-animation-name: histo-slide-in;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;
	-o-animation-timing-function: ease-in-out;

	-moz-animation-name: histo-slide-in;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-in-out;
}
@keyframes histo-slide-in {
	0%   {left:40%; visibility: hidden;}
	50%  {left:71%;z-index: 2000; visibility: hidden;transform:scale(1);opacity: 0}
    100% {left:30%;z-index: 2000;visibility: visible;transform:scale(1.3);opacity: 1}
}
@-webkit-keyframes histo-slide-in {
	0%   {left:40%; visibility: hidden;}
	50%  {left:71%;z-index: 2000; visibility: hidden;-webkit-transform:scale(1);opacity: 0}
    100% {left:30%;z-index: 2000;visibility: visible;-webkit-transform:scale(1.3);opacity: 1}
}
@-moz-keyframes histo-slide-in {
	0%   {left:40%; visibility: hidden;}
	50%  {left:71%;z-index: 2000; visibility: hidden;-moz-transform:scale(1);opacity: 0}
    100% {left:30%;z-index: 2000;visibility: visible;-moz-transform:scale(1.3);opacity: 1}
}
@-o-keyframes histo-slide-in {
	0%   {left:40%; visibility: hidden;}
	50%  {left:71%;z-index: 2000; visibility: hidden;-o-transform:scale(1);opacity: 0}
    100% {left:30%;z-index: 2000;visibility: visible;-o-transform:scale(1.3);opacity: 1}
}

#scrolling {
	width: 100%;
    overflow: auto !important;
    height: 100%;
    padding-right: 100px;
    padding-left: 8px;
}

.bleu-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.bleu-scrollbar::-webkit-scrollbar
{
	width: 10px;
}

.bleu-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}


.no-scrollbar::-webkit-scrollbar
{
	width: 0px;
}

