[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
isodate = "*"
google-api-python-client = "*"
django-ordered-model = "*"
channels = "*"
channels-redis = "*"
djangorestframework = "*"
drf-nested-routers = {ref = "define-parent-kwargs-in-view",git = "git://github.com/bimdata/drf-nested-routers"}
drf-yasg = "*"
django-cors-headers = "*"
requests = "*"
docutils = "*"
packaging = "*"

[requires]
python_version = "3.7"
