Django==1.7
google-api-python-client==1.4.2
isodate==0.5.0
git+https://github.com/soundcloud/soundcloud-python.git
git+https://github.com/0nkery/django-websocket-redis3.git
django-redis-sessions==0.5.0
djangorestframework==3.2.1
markdown==2.6.2
django-ordered-model==0.4.2
django-rest-swagger==0.3.4
uwsgi==2.0.10
