gevent==1.1rc3
Django==1.9.1
google-api-python-client==1.5.0
isodate==0.5.0
soundcloud==0.5.0
git+https://github.com/Amoki/django-websocket-redis.git@return-publish-responses
django-redis-sessions==0.5.0
djangorestframework==3.3.2
markdown==2.6.2
django-ordered-model==0.4.2
django-rest-swagger==0.3.4
docutils==0.12
django-nose==1.4.3
uwsgi==2.0.10
git+ssh://git@github.com/seatgeek/fuzzywuzzy.git@0.8.1#egg=fuzzywuzzy
python-levenshtein==0.12.0