{% load filters %}
<!-- TODO FOREACH KNOCKOUT -->
{% if playlist|length > 0 %}
	{% for music in playlist %}
		<tr class="playlist-item" id="{{music.music_id}}">
			<td>{{music.name}}</td>
			<td><span class="badge">{{music.duration|secToDuration}}</span></td>
			{% if playlist|length > 1 %}
			<td>
				{% if not forloop.first %}
					<i class="fa fa-1-5 fa-angle-double-up ordering-to-top" data-action="top"></i>
					<i class="fa fa-1-5 fa-angle-up ordering-move-up" data-action="up"></i>
				{% else %}
					
				{% endif %}
				{% if not forloop.last %}
					<i class="fa fa-1-5 fa-angle-down ordering-move-down" data-action="down"></i>
					<i class="fa fa-1-5 fa-angle-double-down ordering-to-bot" data-action="bottom"></i>
				{% endif %}
				<span class="pull-right">| <i class="fa fa-arrows"></i></span>
			</td>
			{% endif %}
		</tr>
	{% endfor %}
{% elif shuffle %}
	<tr class="empty"><td>Shuffle activated...<br /><br />Let the music be your guide</td></tr>
{% else %}
	<tr class="empty"><td>No more musics in the playlist !</td></tr>
{% endif %}
