{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>Accueil</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="fr" />
    </head>
    <body>
    	<h1>Now playing :</h1><h2>{{ playing }} <i>({{ playing.get_played_count }})</i></h2>
    	<h3>Music left : {{ count_left }} - {{ time_left }}</h3>
    	<h3>Next musics : {% for music in nexts_music %} {{music}}, {% endfor %}</h3>
		<form action="." method="post">
			{% csrf_token %}
			<select name="category">
				{% for category in categories %}
					<option VALUE="{{ category.pk }}">{{ category }}</option>
				{% endfor %}
			</select>
			<input type="text" value="" name="url">
			<input type="submit" name="add_url" value="Add to queue" />
		</form>

		<form action="." method="post">
			{% csrf_token %}
			<input type="submit" name="play_next" value="Next music" />
		</form>

		{% for category in categories %}
		<h2>{{ category }}</h2>
		<ul>
			{% for music in musics %}
				{% if music.category.name == category.name %}
					<li>{{ music.name }} <i>({{ music.get_played_count }})</i></li>
					<form action="." method="post">
						{% csrf_token %}
						<input type="hidden" value="{{ music.video_id }}" name="url">
						<input type="hidden" value="{{ category.pk }}" name="category">
						<input type="submit" name="add_url" value="Add to queue" />
					</form>
				{% endif %}
			{% endfor %}

		</ul>
		{% endfor %}

    </body>
</html>