{% extends "base.html" %}
{% load static %}
{% block pre_end_head %}
    <script type ="text/javascript">
        var token = "{{ request.session.token }}";
        var ws4redisHeartbeat = {{ WS4REDIS_HEARTBEAT }};
        var webSocketUri = '{{ WEBSOCKET_URI }}';
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.plugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery-ui.min.js' %}"></script>
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.structure.min.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/remote/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/remote/usefullFunction.js' %}"></script>
    {% if current_music %}
    <script type="text/javascript">
        $( document ).ready(function() {
            timeline({{current_time_left}}, {{current_time_past_percent}});
            $('#time-left-progress-bar').countdown({
                until: {{current_time_left}}
            });
        });
    </script>
    {% endif %}
{% endblock pre_end_head %}
{% block navbar %}
    {% include "generic-part/navbar.html" with parent="remote" %}
{% endblock navbar %}
{% block first_Col %}
    <!-- PLAYER ZONE -->
    <div class="col-md-8">
        <div class="col-md-offset-1 col-md-10 player">
            <!-- HEADER PLAYER -->
            <div class="row header-player">
                {% include "include/remote/header_remote.html" %}
            </div>
            <!-- END HEADER PLAYER -->
            <!-- PLAYLIST -->
            <div class="row playlist">
                <div class="col-md-offset-1 col-md-10">
                    <div class="panel panel-default panel-playlist">
                        <table class="table table-striped table-condensed header-fixed">
                            <div class="panel-heading">
                                <h3 class="panel-title">Playlist</h3>
                            </div>
                            <tbody class="playlist-ajax">
                                {% include "include/remote/playlist.html" %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PLAYLIST -->
            <!-- PROGRESS BAR -->
            <div class="row">
                <div class="col-md-offset-1 col-md-10 wrapper-progress-bar">
                    <div class="progress progress-striped active">
                        <div class="progress-bar"></div>
                        <span id="time-left-progress-bar"></span>
                    </div>
                </div>
            </div>
            <!-- END PROGRESS BAR -->
            <!-- CONTROL BUTTONS -->
            <div class="row">
                <div class="col-xs-offset-2 col-xs-2">
                    <form action="/shuffle/" method="post" class="ajax-shuffle">
                        {% csrf_token %}
                        <input type="hidden" id="btn-shuffle" name="shuffle" {%if shuffle %}value="false"{% else %}value="true"{% endif %} title="Shuffle" alt="Shuffle"/></input>
                        <button type="submit" id="submit-shuffle" name="submit_shuffle" class="btn btn-default btn-control {%if not shuffle %} btn-shuffle-false{% endif %}" title="Shuffle" alt="Shuffle"/>
                            <i class="fa fa-random fa-2x"></i>
                        </button>
                    </form>
                </div>
                <div class="col-xs-offset-3 col-xs-4">
                    <form action="/next-music/" method="post" class="ajax-next">
                        {% csrf_token %}
                        <input id="music_id-next" class="music_id" type="hidden" name="music_id" value="{{music_id}}">
                        <button id="btn-next" type="submit" name="play_next" value="Next music" title="Next Music" alt="Next Music" {% if not current_music %}disabled="disabled"{%endif%} class="btn btn-default btn-control"><i class="fa fa-fast-forward fa-2x"></i></button>
                    </form>
                </div>
            </div>
            <!-- END CONTROL BUTTONS -->
        </div>
    </div>
    <!-- END PLAYER ZONE -->
{% endblock first_Col %}
{% block second_Col %}
    <!-- LIBRARY  -->
    <div class="col-md-4 LIB">
        <div class="row input-lib">
            <div class="col-lg-12">
                <form action="/search-music/" method="post" class=" ajax-search">
                    {% csrf_token %}
                    <input id="input-source-selected" type="hidden" name="source" value="{% with sources|first as first_source %}{{ first_source.name }}{% endwith %}">
                    <div class="input-group">
                        <span class="selected input-group-addon">
                            <span class="source-selected">
                                {% with sources|first as first_source %}{{ first_source.name }}{% endwith %}
                            </span>
                            <i class="fa fa-caret-down"></i>
                            <div class="menu-source">
                                <ul style="list-style: none;padding: 0;">
                                    {% for source in sources %}
                                    <li class="{{ source.name }}">
                                        <button type="button" class="btn btn-default btn-change-source" value="{{ source.name }}">{{ source.name }}</button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </span>
                        <input type="text" name="query" class="form-control query" id="query" placeholder="Titre">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="row list-lib">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified">
                    {% for source in sources %}
                    <li id="tab_btn_{{ source.name|lower }}"><a data-toggle="tab" href="#{{ source.name|lower }}">{{ source.name }}</a></li>
                    {% endfor %}
                    <li id="tab_btn_library" class="active"><a data-toggle="tab" href="#library">Library</a></li>
                </ul>
                <div id="popover-container-custom" class="tab-content">
                    {% for source in sources %}
                    <div class="tab-pane" id="{{ source.name|lower }}">
                        <ul id="list-{{ source.name|lower }}" class="list-group">
                            <li class="list-group-item item-lib {{ source.name|lower }}-list-music">
                                <div class="row row-list-item">
                                    <p class="col-xs-10">Enter your search in the field above</p>
                                    <i class="fa fa-level-up fa-2x col-xs-2"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                    <div class="tab-pane active" id="library">
                        <ul id="list-library" class="list-group">
                            <li class="list-group-item item-lib row row-list-item">
                                <form id="form_infini_scroll" action="/music_inifite_scroll/" method="post" class="ajax_music_inifite_scroll">
                                    {% csrf_token %}
                                    <input type="hidden" id="page" name="page" value="">
                                    <button id="load-more-musics" title="Load more" class="btn btn-default" type="submit">Next musics</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LIBRARY -->
{% endblock second_Col %}
{% block footer %}
    {% include "generic-part/footer.html" %}
{% endblock footer %}
{% block pre_end_body %}
    {% include "include/remote/modals.html" %}
{% endblock pre_end_body %}
