{% extends "base.html" %}
{% load static %}
{% block pre_end_head %}
	<script type ="text/javascript">
		var token = '{{ request.session.token }}';
		var ws4redisHeartbeat = {{ WS4REDIS_HEARTBEAT }};
		var webSocketUri = '{{ WEBSOCKET_URI }}';
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
	{% if current_music %}
		<script type="text/javascript">
		var current_time_past = {{current_time_past}};
		var current_music = '{{music_id}}';
		</script>
	{% endif %}
	<script type="text/javascript" src="{% static 'js/player/player.js' %}"></script>
{% endblock pre_end_head %}
{% block navbar %}
	{% include "generic-part/navbar.html" with parent="player" %}
{% endblock navbar %}
{% block first_Col %}
	<div class="col-xs-12">
		<div id="embed"></div>
	</div>
{% endblock first_Col %}
{% block footer %}
	{% include "generic-part/footer.html" %}
{% endblock footer %}
