{% extends "admin/base_site.html" %}

{% block content %}
<div class="delete-confirmation">

    <form action="" method="post">

        {% csrf_token %}
        <input type="hidden" name="action" value="duplicate_music">
        <input type="hidden" name="do_action" value="yes">

        <h2>Choose the room for these musics :</h2>

        <ul>
            {% for object in objects %}
            <li>
                <a href="{{ object.pk }}/">{{ object.name }}</a>
                <input type="hidden" name="_selected_action" value="{{ object.pk }}">
            </li>
            {% endfor %}
        </ul>

        <div>
            {{ form.room }}
            {{ form.room.errors }}
            <br/>
            <input type="submit" class="default" style="float: none" value="Change">
            <a href="." class="button cancel-link">No, take me back</a>
        </div>
    </form>
</div>
{% endblock %}