{% extends "base.html" %}
{% load static %}
{% block pre_end_head %}
    <script type="text/javascript" src="{% static 'js/remote/knockout.remote.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/ws4redis.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.plugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/common_functions.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script>
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css">

    <script type="text/javascript" src="{% static 'js/remote/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/remote/usefullFunction.js' %}"></script>
{% endblock pre_end_head %}
{% block navbar %}
<!-- BEGIN LOGIN -->
<div class="wrapper-login ko-login" data-bind="css: { 'display-none': isConnected }">
    <div class="container col-md-4 col-md-offset-4 LOGIN">
        <div class="header">
            <h3 class="text-muted">Log In</h3>
        </div>
        <div class="jumbotron">
            <h1>Select a room</h1>
            <form class="form-inline" role="form" data-bind="submit: getLogin">
                <div class="form-group">
                    <label for="rooms">Rooms:</label>
                    <select id="rooms" class="form-control" name="room" data-bind="options: rooms,
                    optionsText: 'name',
                    optionsValue: 'name',
                    value: selectedRoom,"></select>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="password" data-bind="value: password">
                </div>
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
</div>
<!-- END LOGIN -->
    <div class="ko-room">
        {% include "generic-part/navbar.html" with parent="remote" %}
    </div>
{% endblock navbar %}
{% block first_Col %}
<div class="REMOTE">
    <!-- REMOTE ZONE -->
    <div class="col-md-8">
        <div class="col-md-offset-1 col-md-10 remote ko-room">
            <!-- HEADER REMOTE -->
            <div class="row header-remote ko-room">
                {% include "include/remote/header_remote.html" %}
            </div>
            <!-- END HEADER REMOTE -->
            <!-- PLAYLIST -->
            <div class="row playlist">
                <div class="col-md-offset-1 col-md-10">
                    <div class="wrappeur">
                        <div id="overlay-playlist">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw loader"></i>
                        </div>
                        <div class="panel panel-default panel-playlist">
                            <table class="table table-striped table-condensed header-fixed">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Playlist</h3>
                                </div>
                                <div data-bind="if: musicsPlaylist().length">
                                    <tbody id="sortable" class="playlist-ajax" data-bind="foreach: musicsPlaylist">
                                        <tr class="playlist-item">
                                            <td data-bind="text: name"></td>
                                            <td><span class="badge" data-bind="text: humanizeSeconds(duration())"></span></td>
                                            <td>
                                                <i class="fa fa-1-5 fa-angle-double-up ordering-to-top" data-action="top" data-bind="visible : $index()!=0" ></i>
                                                <i class="fa fa-1-5 fa-angle-up ordering-move-up" data-action="up" data-bind="visible : $index()!=0" ></i>
                                                <i class="fa fa-1-5 fa-angle-down ordering-move-down" data-action="down" data-bind="visible: $index() < $parent.musicsPlaylist().length - 1"></i>
                                                <i class="fa fa-1-5 fa-angle-double-down ordering-to-bot" data-action="bottom" data-bind="visible: $index() < $parent.musicsPlaylist().length - 1"></i>

                                                <span class="pull-right">| <i class="fa fa-arrows"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </div>
                                <tbody data-bind="if: musicsPlaylist().length === 0">
                                    <div data-bind="">

                                        <tr class="empty">
                                            <td>No more musics in the playlist !</td>
                                        </tr>

                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PLAYLIST -->
            <!-- PROGRESS BAR -->
            <div class="row">
                <div class="col-md-offset-1 col-md-10 wrapper-progress-bar">
                    <div class="progress progress-striped active">
                        <div class="progress-bar"></div>

                    </div>
                    <div id="time-left-progress-bar-wrapper">
                        <span id="time-left-progress-bar"></span>
                        <span id="time-left-progress-bar-duration"></span>
                    </div>
                </div>
            </div>
            <!-- END PROGRESS BAR -->
            <!-- CONTROL BUTTONS -->
            <div class="row">
                <div class="col-xs-offset-2 col-xs-2">
                    <form data-bind="submit: patchShuffle">
                        <button type="submit" id="submit-shuffle" class="btn btn-default btn-control" title="Shuffle" alt="Shuffle" 
                        data-bind="enable: room.shuffle">
                            <i class="fa fa-random fa-2x"></i>
                        </button>
                    </form>
                </div>
                <div class="col-xs-offset-3 col-xs-4">
                    <form data-bind="submit: postNext">
                        <button id="btn-next" type="submit" title="Next Music" alt="Next Music" class="btn btn-default btn-control"
                        data-bind="enable: room.currentMusic">
                            <i class="fa fa-fast-forward fa-2x"></i>
                        </button>
                    </form>
                </div>
            </div>
            <!-- END CONTROL BUTTONS -->
        </div>
    </div>
    <!-- END REMOTE ZONE -->
{% endblock first_Col %}
{% block second_Col %}
    <!-- LIBRARY  -->
    <div class="col-md-4 LIB ko-library">
        <div class="row input-lib">
            <div class="col-lg-12">
                <form class="search-form" data-bind="submit: searchMusic">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <select data-width="auto" data-bind="selectPicker: sourceSearch, optionsText: 'name', optionsValue : 'name', selectPickerOptions: { optionsArray: sources }"></select>
                        </span>
                        <input type="text" name="query" class="form-control query" id="query" placeholder="Titre" data-bind="value: querySearch">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row list-lib">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified">
                    <li id="tab_btn_search" data-bind="if: musicSearch().length, css: { 'display-none': musicSearch().length < 1 }"><a data-toggle="tab" href="#search-tab">Search Result</a></li>
                    <li id="tab_btn_library" class="active"><a data-toggle="tab" href="#library">Library</a></li>
                </ul>
                <div id="popover-container-custom" class="tab-content">
                    <div class="tab-pane" id="search-tab" data-bind="if: musicSearch().length">
                        <ul id="list-search" class="list-group" data-bind="foreach: musicSearch">
                            <li class="list-group-item item-lib row row-list-item">
                                <!-- SEARCH MUSIC DATA -->
                                <div class="row-list-item">
                                    <div class="search-img-music">
                                        <img data-bind="attr: { src: thumbnail }">
                                    </div>
                                    <div class="search-music-info">
                                        <div class="row">
                                            <div class="col-xs-12" style="min-height:45px" data-bind="text: name"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8" style="color:black;font-weight:normal;">
                                                <span data-bind="text: count"></span>&nbsp;views
                                            </div>
                                            <div class="col-xs-4">
                                                <span class="badge" data-bind="text: humanizeSeconds(duration())"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="add-music" data-bind="submit: $root.addMusic">
                                        <button class="btn btn-default btn-lg btn-add-music" type="submit" alt="Ajouter à la playlist" title="Ajouter à la playlist">
                                            <span class="glyphicon glyphicon-headphones"></span>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane active" id="library">
                        <ul id="list-library" class="list-group" data-bind="foreach: musicsLibrary">
                            <li class="list-group-item item-lib row row-list-item">
                                <div class="row-list-item">
                                    <div class="library-img-music">
                                        <img data-bind="attr: { src: thumbnail }">
                                    </div>
                                    <div class="library-music-info">
                                        <div class="row">
                                            <div class="col-xs-12" style="min-height:45px" data-bind="text: name"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8" style="color:black;font-weight:normal;">
                                                Played&nbsp;<span class="bold" data-bind="text: count"></span>&nbsp;times
                                            </div>
                                            <div class="col-xs-4">
                                                <span class="badge" data-bind="text: humanizeSeconds(duration())"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="add-music-form" data-bind="submit: $root.addMusic">
                                        <button class="btn btn-default btn-lg btn-add-music" type="submit" alt="Ajouter à la playlist" title="Ajouter à la playlist">
                                            <span class="glyphicon glyphicon-headphones"></span>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <div class="list-group-item row-list-item">
                            <button title="Previous" class="btn btn-default" data-bind="click: getLibrary, value: hasPrevious, enable: hasPrevious" style="margin-right: 30px;">Previous musics</button>
                            
                            <button title="Next" class="btn btn-default" data-bind="click: getLibrary, value: hasNext, enable: hasNext">Next musics</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LIBRARY -->
</div>
{% endblock second_Col %}
{% block footer %}
    {% include "generic-part/footer.html" %}
{% endblock footer %}
{% block pre_end_body %}
    {% include "include/remote/modals.html" %}
{% endblock pre_end_body %}
