{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if current_music %}{{current_music}}{% else %}Amoki's player{% endif %}
{% endblock title %}
{% block pre_end_head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="{% static 'js/lib/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/common_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/player/ajax.js' %}"></script>
    <script type ="text/javascript">
        var token = '{{ request.session.token }}';
        var ws4redisHeartbeat = {{ WS4REDIS_HEARTBEAT }};
        var webSocketUri = '{{ WEBSOCKET_URI }}';
        var cookieVolume = $.cookie('playerVolume');
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
    {% if current_music %}
    <script type="text/javascript">
        var currentTimePast = {{current_time_past}};
        var currentMusic = '{{current_music.music_id}}';
        var currentMusicSource = '{{current_music.source}}';
        var currentMusicTimerEnd = {{current_music.timer_end|default:"false"}};
    </script>
    {% endif %}
{% endblock pre_end_head %}
{% block navbar %}
    {% include "generic-part/navbar.html" with parent="player" %}
{% endblock navbar %}
{% block first_Col %}
    <div id="player-wrapper" class="col-xs-6 player">
        <div id="youtubePlayer" class="player-child col-xs-12"></div>

        <iframe id="soundcloudPlayer" class="player-child col-xs-12" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/{% if current_music and source.name == 'Soundcloud' %}{{music_id}}{% else %}33427584{% endif %}&buying=false&visual=true&hide_related=true&enable_api=true" scrolling="no" frameborder="no"></iframe>

        <div class="player-child player-child-no-music col-xs-12">
            <a href="/remote" target="_blank" id="btn-link-remote"><img src="{% static 'img/btn-play-large.png' %}"></a>
        </div>
        <div id="wrapper-slider-volume">
            <span id="icon-volume" class="col-xs-1"></span>
            <div id="slider-volume" class="col-xs-offset-1 col-xs-10"></div>
        </div>
        <div id="tooltip_volume_slider" class="tooltip tooltip1"></div>

    </div>
    <div class="col-xs-5 col-xs-offset-1 player">
        <div class="playlist">
            <div class="panel panel-default panel-playlist">
                <table class="table table-striped table-condensed header-fixed">
                    <div class="panel-heading">
                        <h3 class="panel-title">Playlist</h3>
                    </div>
                    <tbody class="playlist-ajax">
                        {% include "include/remote/playlist.html" %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
    <script type="text/javascript" src="{% static 'js/player/soundcloud.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/player/youtube.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/player/player.js' %}"></script>
{% endblock first_Col %}
{% block footer %}
    {% include "generic-part/footer.html" %}
{% endblock footer %}
