{% load static %}

<!DOCTYPE html>
<html>
  <head>
  	<title>Accueil</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="fr" />
	<link href="{% static assets/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/tuto.css' %}" rel="stylesheet">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/prefixfree.min.js' %}"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
			var hauteur = $(window).height() - 110;
			$(".LIB").height(hauteur);
			$(".player").height(hauteur - 50);
			$(".list-lib").height(hauteur - 100);
			$(".panel-playlist").height(hauteur - 300);		
			$( window ).resize(function() {
				if ($(window).height() > 400) {
					var hauteur = $(window).height() - 110;
					$(".LIB").height(hauteur);
					$(".player").height(hauteur - 50);
					$(".list-lib").height(hauteur - 100);
					$(".panel-playlist").height(hauteur - 300);	
				}
			});
		});
	</script>

	<script>
		  function timer(n) {
		    $(".progress-bar").css("width", n + "%");
		    if(n < 100) {
		      setTimeout(function() {
		        timer(n + 1);
		      }, 100);
		    }
		  }
		  $(function (){
		    $("#anime").click(function() {
		      timer(0);
		    });
		  });
	</script>
	</head>
	<body>
	<div class="container-fluid">
		<div class="navbar navbar-inverse row">
		  <ul class="nav navbar-nav">
			<li class="active"> <a href="#">Accueil</a> </li>
			<li> <a href="#">Aide</a> </li>
			<li> <a href="#">Etc..</a> </li>
		  </ul>
		</div>
		<div class="row ligne">
			<div class="col-md-offset-1 col-md-6 player">
				<div class="row">
					<div class="col-md-12 title">
					{% if playing %}
						<img id="thumbnail" src="{{playing.thumbnail}}" width="120px" height="90px"></img>
						<div class="marquee">
							<a href="{{video_url}}" class="now-playing">{{ playing }}</a>
						</div>
					{% else %}
						<div class="marquee">
							<span class="now-playing">No music :'( Add yours now !</span>
						</div>
					{% endif %}
					</div>
				</div>
				<div class="row playlist">
					<div class="col-md-offset-1 col-md-10">
					{% if playing and nexts_music|length > 0 %}
						<div class="panel panel-default panel-playlist">
							<table class="table table-striped table-condensed header-fixed">
								<div class="panel-heading">
									<h3 class="panel-title">Playlist</h3>
								</div>
								<tbody>
									{% for music in nexts_music %}
										<span class="gris"></span><br/>
									  	<tr>
											<td>{{music.name}}</td>
											<td><span class="badge">00:00</span></td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% elif shuffle %}
						<span class="gris" style="margin-left:-22px;font-size:22px;font-weight:bold;text-align:center;position: relative;top: 120px;">Shuffle activated...<br /><br />Let the music be your guide</span>
					{% else %}
						<span class="gris" style="margin-left:-22px;font-size:22px;font-weight:bold;text-align:center">No more musics in the playlist !</span>
					{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<div class="progress progress-striped active">
							<div class="progress-bar"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-4 col-md-4">
						<a href="#" class="btn btn-lg btn-primary btn-play" id="anime"><span class="glyphicon glyphicon-play"></span>  </a>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 LIB">
				<div class="row input-lib">
					<div class="input-group col-md-offset-1 col-md-10">
						<input type="text" class="form-control" style="text-align:right" placeholder="Titre">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-ok-sign"></span> Valider</button>
						</span>
					</div>
				</div>
				<div class="row list-lib">
					<div class="col-md-offset-1 col-md-10">
						<ul class="list-group">
							<li class="list-group-item"><span class="badge">00:00</span>Item 1 </li>
							<li class="list-group-item"><span class="badge">00:00</span>Item 2 blblbl blb ler ger g long text again again super mega long BLBLBLBLLBLBLLBLBB LLLBLBL</li>
							<li class="list-group-item"><span class="badge">00:00</span>Item 3</li>
							<li class="list-group-item"><span class="badge">00:00</span>Item 4</li>
							<li class="list-group-item"><span class="badge">00:00</span>Item 1</li>
							<li class="list-group-item">Item 2</li>
							<li class="list-group-item">Item 3</li>
							<li class="list-group-item">Item 4</li>
							<li class="list-group-item">Item 1</li>
							<li class="list-group-item">Item 2</li>
							<li class="list-group-item">Item 3</li>
							<li class="list-group-item">Item 4</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<footer class="row foot">
			<div class="col-md-12">
				FOOTER
			</div>
	</footer>
	</div>


  </body>
</html>