{% load filters %}
{% for music in musics %}
<li class="list-group-item item-lib {{tab}} row row-list-item" title="">
	<img class="col-xs-3" src="{{music.thumbnail}}" style="padding:0px">
	<div class="col-xs-7" style="padding-right:0px">
		<div class="row">
			<div class="col-xs-12" style="min-height:45px">{{music.name}}</div>
		</div>
		<div class="row">
			<div class="col-xs-8" style="color:black;font-weight:normal;">
				{% if tab == "youtube-list-music" %}<b>{{music.views}}</b> views{% else %}Played <b>{{music.count}}</b> times{% endif %}
			</div>
			<div class="col-xs-4">
				<span class="badge">{{music.duration|secToDuration}}</span>
			</div>
		</div>
	</div>
	<form class="ajax-add-music col-xs-2" action="/add-music/" method="post">
		<input class="music_id" type="hidden" value="{{music.music_id}}" name="music_id">
		{% if music.requestId %}
		<input class="requestId" type="hidden" value="{{music.requestId}}" name="requestId">
		{% endif %}
		<button class="btn btn-default btn-lg" type="submit" alt="Ajouter à la playlist" title="Ajouter à la playlist">
			<span class="glyphicon glyphicon-headphones"></span>
		</button>
	</form>
</li>
{% endfor %}
{% if more_music != None %}
<li class="list-group-item item-lib {{tab}} row row-list-item" title="">
	<div><p>No more musics</p></div>
</li>
{% endif %}
