{% load filters %}
{% for music in musics %}
<li class="list-group-item item-lib {{tab}}">
	<div class="row row-list-item">
		<img class="col-xs-3 col-lg-3" src="{{music.thumbnail}}" style="padding:0px">
		<div class="col-xs-7 col-lg-7" style="padding-right:0px">
			<div class="row">
				<div class="col-xs-12" style="min-height:45px">{{music.name}}</div>
			</div>
			<div class="row">
				<div class="col-xs-8" style="color:black;font-weight:normal;">
					{% if tab == "youtube-list-music" %}<b>{{music.views}}</b> views{% else %}Played <b>{{music.count}}</b> times{% endif %}
				</div>
				<div class="col-xs-4">
					<span class="badge">{{music.duration|secToDuration}}</span>
				</div>
			</div>
		</div>
		<form id="form-add-{{music.music_id}}" class="ajax-add-music col-xs-2 col-lg-2" action="/add-music/" method="post">
			{% csrf_token %}
			<input class="music_id" type="hidden" value="{{music.music_id}}" name="music_id">
			<input type="hidden" class="input-reset" id="timer-start-{{music.music_id}}" name="timer-start">
			<input type="hidden" class="input-reset" id="timer-end-{{music.music_id}}" name="timer-end">
			{% if music.requestId %}
			<input type="hidden" value="{{music.requestId}}" name="requestId">
			{% endif %}
			<a tabindex="0" class="btn btn-default btn-lg" role="button" data-toggle="popover" title="Add music" data-content="
			<button class='btn btn-default btn-lg' form='form-add-{{music.music_id}}'  type='submit' alt='Ajouter à la playlist' title='Ajouter à la playlist'>
				<span class='glyphicon glyphicon-headphones'></span>
			</button><br/>
			{% if music.channel_name %}
			<button id='btn-preview-music' href='#music_preview' class='btn btn-default btn-lg' type='button' alt='More info' title='More info'
			data-toggle='modal'
			data-backdrop='static'
			data-duration='{{music.duration}}'
			data-musicid='{{music.music_id}}'
			data-channelname='{{music.channel_name}}'
			data-description='{{music.description}}'>
				<span class='glyphicon glyphicon-time'></span>
			</button>
			{% endif %}"
			data-template="
			<div class='popover' role='tooltip'>
				<div class='arrow'></div>
				<div class='popover-content'></div>
			</div>"><span class='glyphicon glyphicon-headphones'></span></a>
		</form>
	</div>
	{% if music.channel_name %}
	<div class="row row-list-item" style="padding:0px;">
		<div class="col-xs-12" style="font-size: 12px;text-align:left;">
			<p>Posted by : {{music.channel_name}}</p>
		</div>
	</div>
	{% endif %}
</li>
{% endfor %}
{% if more_music != None %}
<li class="list-group-item item-lib {{tab}} row row-list-item">
	<div><p>No more musics</p></div>
</li>
{% endif %}
