<ul class="nav navbar-nav">
	<li class="active"><a class="navbar-brand">{{room.name}}</a></li>
	<li>
		<a id="btn-navbar" href="/log-out/">
			<button class="btn btn-primary" type="submit">Change Room</button>
		</a>
	</li>
	<li>
		<a id="btn-navbar" href="/player/" target="_blank">
			<button class="btn btn-primary" type="submit">Go to Player</button>
		</a>
	</li>
</ul>
{% if room.can_adjust_volume %}
<form action="/volume/" method="post" class="navbar-form navbar-right ajax-volume">
	{% csrf_token %}
	<button type="submit" class="btn btn-default btn-vol" name="volume" value="down" title="volume_down" alt="volume_down" onclick="$(this).addClass('volume_clicked')"><i class="fa fa-volume-down fa-2x"></i></span></button>
	<button type="submit" class="btn btn-default btn-vol" name="volume" value="up" title="volume_up" alt="volume_up" onclick="$(this).addClass('volume_clicked')"><i class="fa fa-volume-up fa-2x"></i></span></button>
</form>
{% endif %}
